
$light-blue: #e3f3fc;
$blue: #5bb9eb;
$dark-blue: #11618b;
$white: #fff;
$black: #212429;
$gray: #495057;
$gray-text: #888;
$light-gray: #ededed;
$border-gray: #d7d7d7;
$background-gray: #f9f9f9;
$shadow-gray: rgba(0, 0, 0, 0.1);
$overlay: rgba(0, 0, 0, 0.2);
$success:#4caf50;
$failure:#f44336;
$magenta: #C31432